.form {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: rgba(255, 255, 255, 0.26);
}

.form-input {
    display: flex;
    gap: 30px;
	height: 30px;
    align-items: center;
    
}

.form-container{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    align-items: center;
	justify-content: center;
    height: 70vh;
    background-color:rgba(255, 255, 255, 0.26) ;
}

.form-button{
    align-self: center;
    height: 50px;
    width: 90px;
    background-color: greenyellow;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(45, 95, 4)
}

.formulario {
    flex: 50%;
    margin: 0;
    border: 3px solid rgb(54, 2, 2);
    display: flex;

}