* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image:linear-gradient(rgba(128, 55, 13, 0.445), rgb(0, 0, 0)), url(https://res.cloudinary.com/dnxtjocny/image/upload/v1678898629/Pagina%20Coder/413db611fa794a117a642ee2bd1154eb_mfjcjr.jpg);
}

